[project]
	description = Practicing core java features
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
[access "refs/for/refs/*"]
	read = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	push = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	label-Code-Review = -2..+2 group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	label-Verified = -1..+1 group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	rebase = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	removeReviewer = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	submit = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
[access "refs/heads/*"]
	read = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	create = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	push = +force group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	pushMerge = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
[access "refs/tags/*"]
	push = group user/Rajesh Kanakamedala (kanakamedala-rajesh)
	push = +force group user/Rajesh Kanakamedala (kanakamedala-rajesh)
